.iframe-editor {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
}

/* new styles  */

html > body {
  background-color: #f0f0f0;
}

.usa-header {
  border-bottom: 2px solid #dfe1e2;
  margin-bottom: 2rem;
  background-color: #ffffff;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.search-form > form {
  max-width: initial;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form > form > fieldset {
  display: flex;
  justify-content: space-between;
  max-width: initial;
  width: 75%;
  align-items: normal;
}

@media (max-width: 1200px) {
  .search-form > form {
    width: 100%;
  }
}

label.usa-label {
  margin: 0;
  font-weight: bold;
  color: #565c65;
}

.search-form input.usa-button {
  margin: 0;
}

.drafts-list {
  display: flex;
  justify-content: center;
}

#drafts {
  border-collapse: collapse;
  width: 75%;
}

#drafts.usa-table th,
#drafts.usa-table td {
  border-color: #3d4551;
  padding: 0.5rem;
}

#drafts th {
  background-color: #a9aeb1;
  color: #1b1b1b;
}

#drafts tr:hover,
#drafts.usa-table tr:nth-child(even):hover {
  background-color: #d9e8f6;
}

#drafts.usa-table tr:nth-child(even) {
  background-color: #dfe1e2;
}
#drafts td {
  background-color: initial;
}
#drafts form {
  display: flex;
  justify-content: center;
}

#drafts td.center-text {
  text-align: center;
}

.draft-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #dfe1e2;
  padding-bottom: 2rem;
}

.error-body {
  display: flex;
  justify-content: center;
}

.error-message {
  display: flex;
  justify-content: center;
}

.usa-card__heading,
.usa-card__body {
  color: #1b1b1b;
}
