div {
  font-weight: 600;
  color: #808080;
}

.container {
  position: relative;
  width: 95%;
  height: 0;
  padding-bottom: 56.25%;
}

.iframe-editor {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
}

#drafts {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 75%;
}

#drafts td,
#drafts th {
  padding: 0.5rem;
}

a.button1 {
  display: inline-block;
  padding: 0.17em 0.6em;
  border: 0.1em solid #808080;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #808080;
  text-align: center;
  transition: all 0.2s;
}
a.button1:hover {
  color: #000000;
  background-color: #f2f2f2;
}
@media all and (max-width: 15em) {
  a.button1 {
    display: block;
    margin: 0.2em auto;
  }
}

/* new styles  */

html > body {
  background-color: #f0f0f0;
}

.usa-header {
  border-bottom: 2px solid #dfe1e2;
  margin-bottom: 2rem;
  background-color: #ffffff;
}

.debug-border {
  border: 5px dashed pink;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.search-form > form {
  max-width: initial;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form > form > fieldset {
  display: flex;
  justify-content: space-between;
  max-width: initial;
  width: 75%;
  align-items: normal;
}

@media (max-width: 1200px) {
  .search-form > form {
    width: 100%;
  }
}

label.usa-label {
  margin: 0;
  font-weight: bold;
  color: #565c65;
}

.search-form input.usa-button {
  margin: 0;
}

#drafts.usa-table th,
#drafts.usa-table td {
  border-color: #3d4551;
}

#drafts th {
  background-color: #a9aeb1;
  color: #1b1b1b;
}

#drafts tr:hover,
#drafts.usa-table tr:nth-child(even):hover {
  background-color: #d9e8f6;
}

#drafts.usa-table tr:nth-child(even) {
  background-color: #dfe1e2;
}
#drafts td {
  background-color: initial;
}
#drafts form {
  display: flex;
  justify-content: center;
}

#drafts td.center-text {
  text-align: center;
}

.draft-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #dfe1e2;
  padding-bottom: 2rem;
}
